* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 10s linear infinite;
    animation-duration: calc(60s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header .logopng {
    width: 8%;
    margin: 10px;
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
}

.invite {
    position: absolute;
    font-size: 2em;
    width: 180px;
    height: 60px;
    left: 42%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.5s;
    top: 40%;
}
.desc {
    position: absolute;
    font-size: 1em;
    left: 36%;
    color: rgb(78, 75, 75);
    text-decoration: none;
    text-transform:lowercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    top: 50%;
}
.invite:hover {
    background: #ec0b36 url(pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate_button 0.8s steps(8) forwards;
}
@keyframes animate_button {
    0% {
        background-position: 0;
        font-size: 2em;
    } 
    100% {
        background-position: -480px;
        font-size: 3em;
    }
}
.about {
    box-sizing: border-box;
    top: 100%;
    width: 50%;
    left: auto;
    right: auto;
    position: absolute;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.carre {
    text-align: center;
    height: 300px;
    width: 90%;
    margin: 20px;
    padding: 20px;
    border-radius:5%;
    background: #091321c3;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(78, 75, 75);
}
.carre h3 {
    padding: 20px;
    text-transform: lowercase;
}
.webimg {
    width: 20%;
}